<h1>Name: </h1>
<%= @me.name %>
<br/>
<h1>Where I'm from: </h1>
<%= @me.location %>
<br/>
<h1>Year: </h1>
<%= @me.year %>
<br />
<h1>Fun fact: </h1>
<%= @me.fun_fact %>
<br />
<h1>What I'm most excited</h1>
<%= @me.most_excited %>
<br />
